# keep each top level section alphabetical
# keep each item within the sections alphabetical

# large files
*.png
*.gif

# mac
*.DS_Store

# misc
*logs*
*runs*
*tb_logs*
*wandb*
*wandb_logs*
outputs/*
polymetis/polymetis/build/
polymetis/polymetis/build_codex/
polymetis/polymetis/src/clients/franka_panda_client/third_party/libfranka/build/

# python
*__pycache__
*.egg-info
*.hypothesis
*.ipynb_checkpoints
*.mypy_cache
*.pyc

# vim
*.swp
MUJOCO_LOG.TXT
